;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies [[reagent "0.8.1" :exclusions [cljsjs/react cljsjs/react-dom]]
                [org.clojure/core.async "0.4.490"]]

 :builds
 {:frontend
  {:target :browser
   :prepend "window.process = {version: '10.0.0'}"
   :modules {:main {:init-fn ui.frontend.app/init}}
   :devtools
   {:before-load ui.frontend.app/stop
    :after-load ui.frontend.app/start
    :http-root "public"
    :http-port 8080}}
  :test
  {:target :node-test
   :autorun true
   :output-to "out/node-tests.js"
   :ns-regexp "-spec$"}
  :testci
  {:target :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-spec$"}}}
